Flows/first.flow
[{"id":"d0e2c7fb.20c238","type":"tab","label":"Flow 1"},{"id":"455b0136.a975d","type":"mqtt-broker","z":"","broker":"192.168.0.103","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ea8791c6.49d7f","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"93dd23d7.8f8bf","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d7f3c409.ec3f48","type":"ui_group","z":"","name":"Box1","tab":"ea8791c6.49d7f","order":null,"disp":true,"width":"6"},{"id":"9b20915f.abf0f","type":"debug","z":"d0e2c7fb.20c238","name":"watch","active":true,"console":"false","complete":"payload","x":952.9999847412109,"y":472.00001525878906,"wires":[]},{"id":"bd58e30a.34582","type":"mqtt in","z":"d0e2c7fb.20c238","name":"","topic":"#","qos":"2","broker":"455b0136.a975d","x":561.9999847412109,"y":358,"wires":[["9b20915f.abf0f"]]},{"id":"1be1ba30.7d7146","type":"mqtt out","z":"d0e2c7fb.20c238","name":"","topic":"","qos":"","retain":"","broker":"455b0136.a975d","x":1017.9999847412109,"y":293.00001525878906,"wires":[]},{"id":"5aac235b.54caac","type":"inject","z":"d0e2c7fb.20c238","name":"Relay A ON ","topic":"box1/RelayA","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":630,"y":289,"wires":[["1be1ba30.7d7146"]]},{"id":"b7eccce6.68a7e","type":"e-mail","z":"d0e2c7fb.20c238","server":"smtp.gmail.com","port":"465","secure":true,"name":"itba.jacoby@gmail.com","dname":"mimail","x":1017.1665496826172,"y":364.3333435058594,"wires":[]},{"id":"ee16be85.7125c","type":"ui_colour_picker","z":"d0e2c7fb.20c238","name":"Color Wheel","label":"color","group":"d7f3c409.ec3f48","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"showLightness":true,"order":0,"width":0,"height":0,"passthru":true,"topic":"box1/rgbled","x":711.8693084716797,"y":612.4942932128906,"wires":[["1be1ba30.7d7146","9b20915f.abf0f"]]},{"id":"89661d15.bf08b","type":"ui_slider","z":"d0e2c7fb.20c238","name":"","label":"slider","group":"d7f3c409.ec3f48","order":0,"width":0,"height":0,"passthru":true,"topic":"hola","min":0,"max":10,"step":1,"x":603.8693237304688,"y":479.3011064529419,"wires":[["1be1ba30.7d7146","9b20915f.abf0f"]]},{"id":"f3fefcd1.c2c8d","type":"inject","z":"d0e2c7fb.20c238","name":"Relay A OFF","topic":"box1/RelayA","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":623.1666717529297,"y":232.33333333333331,"wires":[["1be1ba30.7d7146"]]},{"id":"c9b8b25c.ed89d","type":"ui_switch","z":"d0e2c7fb.20c238","name":"Relay A","label":"Relay A","group":"d7f3c409.ec3f48","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"box1/RelayA","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":615.1666717529297,"y":169.33333333333331,"wires":[["1be1ba30.7d7146"]]},{"id":"b516b2d.7983d5","type":"mqtt in","z":"d0e2c7fb.20c238","name":"Switch A","topic":"box1/switch_A","qos":"2","broker":"455b0136.a975d","x":131.89999389648438,"y":211.80001831054688,"wires":[["6e52140f.7f7aec","5dad34a0.a639fc","b7eccce6.68a7e"]]},{"id":"e71f1f03.6d1c8","type":"debug","z":"d0e2c7fb.20c238","name":"salida","active":true,"console":"false","complete":"payload","x":436.6789093017578,"y":516.0085067749023,"wires":[]},{"id":"6e52140f.7f7aec","type":"function","z":"d0e2c7fb.20c238","name":"invert","func":"\n    if(msg.payload==\"1\")\n    {\n    \n        msg.payload=\"0\";\n    }   \n    else\n    \n        msg.payload=\"1\";\n    \n    \n    \n    \n    \n    \n    \n\n   \nreturn msg;","outputs":1,"noerr":0,"x":357.8664093017578,"y":398.5198669433594,"wires":[["e71f1f03.6d1c8","c9b8b25c.ed89d"]]},{"id":"5dad34a0.a639fc","type":"debug","z":"d0e2c7fb.20c238","name":"entrada","active":true,"console":"false","complete":"payload","x":194.86363220214844,"y":499.9204406738281,"wires":[]},{"id":"55aa9a61.380fc4","type":"inject","z":"d0e2c7fb.20c238","name":"Display","topic":"box1/display","payload":"Hola Geda","payloadType":"str","repeat":"","crontab":"","once":false,"x":575.8635711669922,"y":82.97726440429688,"wires":[["1be1ba30.7d7146"]]},{"id":"7f739f6e.86a43","type":"ui_text_input","z":"d0e2c7fb.20c238","name":"Display Box1","label":"Display Box1","group":"d7f3c409.ec3f48","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"box1/display","x":841.8692474365234,"y":86.65625,"wires":[["1be1ba30.7d7146"]]},{"id":"c00d7785.347028","type":"change","z":"d0e2c7fb.20c238","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":145.8721466064453,"y":115.85795593261719,"wires":[[]]}]
