Flows/forth.flow
[{"id":"d0e2c7fb.20c238","type":"tab","label":"Flow 1"},{"id":"455b0136.a975d","type":"mqtt-broker","z":"","broker":"192.168.0.102","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ea8791c6.49d7f","type":"ui_tab","z":"","name":"Mainbox","icon":"dashboard"},{"id":"93dd23d7.8f8bf","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d7f3c409.ec3f48","type":"ui_group","z":"","name":"Mainbox controls","tab":"ea8791c6.49d7f","order":null,"disp":true,"width":"6"},{"id":"6742ce75.f02e8","type":"ui_tab","z":"","name":"Climate Box","icon":"dashboard","order":2},{"id":"79a38c11.eab804","type":"ui_group","z":"","name":"Climate Controls","tab":"6742ce75.f02e8","order":1,"disp":true,"width":"6"},{"id":"43da25eb.3b716c","type":"ui_group","name":"Group 2","tab":"6742ce75.f02e8","order":2,"disp":true,"width":6},{"id":"ce58f803.8d6a28","type":"ui_tab","z":"","name":"Bigbox","icon":"dashboard","order":3},{"id":"64c0d758.875218","type":"ui_group","z":"","name":"BigBox Controls","tab":"ce58f803.8d6a28","order":1,"disp":true,"width":"6"},{"id":"b43e4f19.109aa","type":"ui_tab","z":"","name":"Dimmer","icon":"dashboard","order":4},{"id":"fc2d7319.fe667","type":"ui_group","z":"","name":"Dimmer Controlls","tab":"b43e4f19.109aa","order":1,"disp":true,"width":"6"},{"id":"6686730a.90afec","type":"ui_tab","z":"","name":"Alarm Sensor","icon":"dashboard","order":5},{"id":"829c5d7d.e25ab","type":"ui_group","z":"","name":"Alarm status","tab":"6686730a.90afec","order":1,"disp":true,"width":"6"},{"id":"bd58e30a.34582","type":"mqtt in","z":"d0e2c7fb.20c238","name":"","topic":"#","qos":"2","broker":"455b0136.a975d","x":159.00006103515625,"y":503,"wires":[["36dacec.97e8c32"]]},{"id":"1be1ba30.7d7146","type":"mqtt out","z":"d0e2c7fb.20c238","name":"","topic":"","qos":"","retain":"","broker":"455b0136.a975d","x":1404.0000305175781,"y":408.00001525878906,"wires":[]},{"id":"5aac235b.54caac","type":"inject","z":"d0e2c7fb.20c238","name":"Relay A ON ","topic":"box1/RelayA","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":1016.0000457763672,"y":404,"wires":[["1be1ba30.7d7146"]]},{"id":"b7eccce6.68a7e","type":"e-mail","z":"d0e2c7fb.20c238","server":"smtp.gmail.com","port":"465","secure":true,"name":"itba.jacoby@gmail.com","dname":"mimail","x":1809.1667175292969,"y":1183.3335571289062,"wires":[]},{"id":"ee16be85.7125c","type":"ui_colour_picker","z":"d0e2c7fb.20c238","name":"Color Wheel","label":"color","group":"d7f3c409.ec3f48","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":true,"showAlpha":false,"showLightness":true,"order":0,"width":0,"height":0,"passthru":true,"topic":"box1/rgbled","x":1081.8694305419922,"y":665.4943542480469,"wires":[["1be1ba30.7d7146"]]},{"id":"89661d15.bf08b","type":"ui_slider","z":"d0e2c7fb.20c238","name":"Sim temp","label":"Simulador temp","group":"79a38c11.eab804","order":0,"width":0,"height":0,"passthru":true,"topic":"climate_box/Humedad","min":"40","max":"100","step":1,"x":161.869384765625,"y":270.3011474609375,"wires":[["8e098584.1e0e08","c7c36fc0.12e0c"]]},{"id":"f3fefcd1.c2c8d","type":"inject","z":"d0e2c7fb.20c238","name":"Relay A OFF","topic":"box1/RelayA","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":1009.1667175292969,"y":347.3333333333333,"wires":[["1be1ba30.7d7146"]]},{"id":"c9b8b25c.ed89d","type":"ui_switch","z":"d0e2c7fb.20c238","name":"Relay A","label":"Relay A","group":"d7f3c409.ec3f48","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"box1/RelayA","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1001.1667175292969,"y":284.3333333333333,"wires":[["1be1ba30.7d7146"]]},{"id":"b516b2d.7983d5","type":"mqtt in","z":"d0e2c7fb.20c238","name":"Switch A","topic":"box1/switch_A","qos":"2","broker":"455b0136.a975d","x":546.9000396728516,"y":612.8000183105469,"wires":[["5dad34a0.a639fc","a592682a.bbc668"]]},{"id":"6e52140f.7f7aec","type":"function","z":"d0e2c7fb.20c238","name":"Toggle and Led","func":"var newMsg1 = {payload: \"new payload\",topic: \"box1/RelayA\" };\nvar newMsg2 = {payload: \"rgb(207,0,0)\",topic: \"box1/rgbled\" };\nvar count = context.get('count')||0;\n\n\n        if(count===0)\n        newMsg2.payload=\"rgb(207,0,0)\";\n        else\n        newMsg2.payload=\"rgb(0,207,0)\";\n\n    if(msg.payload==\"1\")\n    {\n    \n        count += 1;\n        count %=2;\n        context.set('count',count);\n        newMsg1.payload=String(count);\n \n        \n       \n        \n        return [newMsg1,newMsg2];\n        \n    }   \n    else\n    {\n     newMsg1.payload=String(count);\n     return [newMsg1,null];\n    }   \n    \n    \n    \n    \n    \n    \n    \n\n   \n","outputs":"2","noerr":0,"x":780.8664245605469,"y":447.5198669433594,"wires":[[],[]]},{"id":"5dad34a0.a639fc","type":"debug","z":"d0e2c7fb.20c238","name":"entrada","active":false,"console":"false","complete":"payload","x":795.8637237548828,"y":716.9204406738281,"wires":[]},{"id":"55aa9a61.380fc4","type":"inject","z":"d0e2c7fb.20c238","name":"Display Text  at Start","topic":"box1/display","payload":"Hola Male","payloadType":"str","repeat":"","crontab":"","once":true,"x":968.8636474609375,"y":194.97726440429688,"wires":[["1be1ba30.7d7146"]]},{"id":"7f739f6e.86a43","type":"ui_text_input","z":"d0e2c7fb.20c238","name":"Display Box1","label":"Display Box1","group":"d7f3c409.ec3f48","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"box1/display","x":1217.8692932128906,"y":201.65625,"wires":[["1be1ba30.7d7146"]]},{"id":"991cd115.9f018","type":"debug","z":"d0e2c7fb.20c238","name":"Watch","active":false,"console":"false","complete":"payload","x":513.86376953125,"y":826.1107788085938,"wires":[]},{"id":"275f65ea.4706ca","type":"mqtt out","z":"d0e2c7fb.20c238","name":"Relay","topic":"","qos":"","retain":"","broker":"455b0136.a975d","x":1079.571533203125,"y":520.1429443359375,"wires":[]},{"id":"da56194b.f9d0e8","type":"function","z":"d0e2c7fb.20c238","name":"Toggle","func":"var newMsg = {payload: \"new payload\",topic: \"box1/RelayA\" };\nvar count = context.get('count')||0;\n\n\n    if(msg.payload==\"1\")\n    {\n    \n        count += 1;\n        count %=2;\n        context.set('count',count);\n        newMsg.payload=String(count);\n        return newMsg;\n        \n    }   \n    else\n    {\n     newMsg.payload=String(count);\n    return newMsg;\n    }   \n    \n    \n    \n    \n    \n    \n    \n\n   \n","outputs":1,"noerr":0,"x":783.4286499023438,"y":397.7143249511719,"wires":[["275f65ea.4706ca"]]},{"id":"7bff55be.9e379c","type":"debug","z":"d0e2c7fb.20c238","name":"salida","active":true,"console":"false","complete":"true","x":1087.2000732421875,"y":576.2000045776367,"wires":[]},{"id":"a1e0827e.c368d","type":"mqtt in","z":"d0e2c7fb.20c238","name":"Switch B","topic":"box1/switch_B","qos":"2","broker":"455b0136.a975d","x":540.2000274658203,"y":469.20001220703125,"wires":[["da56194b.f9d0e8"]]},{"id":"a592682a.bbc668","type":"function","z":"d0e2c7fb.20c238","name":"Two Switches one lamp and Text  display","func":"var newMsg1 = {payload: \"0\",topic: \"box1/RelayA\" };\nvar newMsg2 = {payload: \"Lamp is OFF\",topic: \"box1/display\" };\nvar count = context.get('count')||0;\n\n\n        if(msg.topic==\"box1/switch_A\" )\n        {\n            if(msg.payload==\"1\")\n            {\n                newMsg2.payload=\"Lamp is ON\";\n                newMsg1.payload='1';\n           \n                return [newMsg1,newMsg2];\n                \n            }\n            else\n                return [null,null];\n            \n        }\n        \n        if(msg.topic==\"box1/switch_B\" )\n        {\n            \n            if(msg.payload==\"1\")\n            {\n                newMsg2.payload=\"Lamp is OFF\";\n                newMsg1.payload='0';\n                return [newMsg1,newMsg2];\n            }\n            \n            \n            else\n                return [null,null];\n            \n            \n        }\n\n        return [newMsg1,newMsg2];\n        \n    \n    \n    \n    \n    \n    \n    \n    \n\n   \n","outputs":"2","noerr":0,"x":832.2000732421875,"y":575.2000122070312,"wires":[["7bff55be.9e379c"],["7bff55be.9e379c"]]},{"id":"b51cb6cd.3b6018","type":"function","z":"d0e2c7fb.20c238","name":"Two Switches one lamp","func":"var newMsg1 = {payload: \"0\",topic: \"box1/RelayA\" };\nvar newMsg2 = {payload: \"rgb(207,0,0)\",topic: \"box1/rgbled\" };\nvar count = context.get('count')||0;\n\n\n        if(msg.topic==\"box1/switch_A\" )\n        {\n            if(msg.payload==\"1\")\n            {\n                newMsg2.payload=\"rgb(207,0,0)\";\n                newMsg1.payload='1';\n           \n                return [newMsg1,newMsg2];\n                \n            }\n            else\n                return [null,null];\n            \n        }\n        \n        if(msg.topic==\"box1/switch_B\" )\n        {\n            \n            if(msg.payload==\"1\")\n            {\n                newMsg2.payload=\"rgb(0,207,0)\";\n                newMsg1.payload='0';\n                return [newMsg1,newMsg2];\n            }\n            \n            \n            else\n                return [null,null];\n            \n            \n        }\n\n  \n \n        \n       \n        \n        return [newMsg1,newMsg2];\n        \n    \n    \n    \n    \n    \n    \n    \n    \n\n   \n","outputs":"2","noerr":0,"x":780.2000732421875,"y":506,"wires":[[],[]]},{"id":"f44c8fac.e0a03","type":"inject","z":"d0e2c7fb.20c238","name":"Climate box Display","topic":"climate_box/display","payload":"Hola clima","payloadType":"str","repeat":"","crontab":"","once":false,"x":996.9000854492188,"y":111.79998779296875,"wires":[["1be1ba30.7d7146"]]},{"id":"668bfbec.9df934","type":"ui_gauge","z":"d0e2c7fb.20c238","name":"Temp","group":"79a38c11.eab804","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"*C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":516.9000701904297,"y":96.40000915527344,"wires":[]},{"id":"19fd2979.be0e07","type":"mqtt in","z":"d0e2c7fb.20c238","name":"Temp","topic":"climate_box/Temp","qos":"2","broker":"455b0136.a975d","x":155.20004272460938,"y":96.19999694824219,"wires":[["668bfbec.9df934"]]},{"id":"4cf9b5ea.e9023c","type":"ui_gauge","z":"d0e2c7fb.20c238","name":"Humedad","group":"79a38c11.eab804","order":0,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":"10","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":515.7000122070312,"y":161,"wires":[]},{"id":"610fc6a2.e17688","type":"mqtt in","z":"d0e2c7fb.20c238","name":"Humedad","topic":"climate_box/Humedad","qos":"2","broker":"455b0136.a975d","x":161,"y":162.79998779296875,"wires":[["4cf9b5ea.e9023c","8e098584.1e0e08"]]},{"id":"36dacec.97e8c32","type":"debug","z":"d0e2c7fb.20c238","name":"","active":false,"console":"false","complete":"false","x":323,"y":503,"wires":[]},{"id":"f5b7387e.192358","type":"inject","z":"d0e2c7fb.20c238","name":"Set read delay","topic":"climate_box/SetReadDelay","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":948,"y":44,"wires":[["1be1ba30.7d7146"]]},{"id":"766b0c2e.f23b94","type":"ui_switch","z":"d0e2c7fb.20c238","name":"Enable readings","label":"Enable ReadOut","group":"43da25eb.3b716c","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"climate_box/ReadoutEnable","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":314,"y":774,"wires":[["1be1ba30.7d7146","991cd115.9f018"]]},{"id":"4d4a54ad.b9ed5c","type":"inject","z":"d0e2c7fb.20c238","name":"Poweron","topic":"climate_box/ReadoutEnable","payload":"1","payloadType":"str","repeat":"","crontab":"","once":true,"x":116,"y":782,"wires":[["766b0c2e.f23b94"]]},{"id":"8e098584.1e0e08","type":"function","z":"d0e2c7fb.20c238","name":"Humidity to light","func":"var newMsg = {payload: \"rgb(207,0,0)\",topic: \"box1/rgbled\" };\n\n\n\n        if(msg.topic==\"climate_box/Humedad\" )\n        {\n            if(msg.payload>=\"60\" && msg.payload<\"65\" )\n            {\n                newMsg.payload=\"rgb(100,200,0)\";\n                return [newMsg];\n                \n            }\n            \n            if(msg.payload>=\"65\" && msg.payload<\"70\" )\n            {\n                newMsg.payload=\"rgb(150,150,0)\";\n                return [newMsg];\n                \n            }\n            \n            if(msg.payload>=\"75\" && msg.payload<\"80\" )\n            {\n                newMsg.payload=\"rgb(150,100,0)\";\n                return [newMsg];\n                \n            }\n            if(msg.payload>=\"80\" && msg.payload<\"85\" )\n            {\n                newMsg.payload=\"rgb(150,50,0)\";\n                return [newMsg];\n                \n            }\n            if(msg.payload>=\"85\" && msg.payload<\"90\" )\n            {\n                newMsg.payload=\"rgb(200,50,0)\";\n                return [newMsg];\n                \n            }\n            if(msg.payload>=\"90\" && msg.payload<\"93\" )\n            {\n                newMsg.payload=\"rgb(255,10,0)\";\n                return [newMsg];\n                \n            }\n            if(msg.payload>=\"93\" && msg.payload<=\"100\" )\n            {\n                newMsg.payload=\"rgb(255,0,0)\";\n                return [newMsg];\n                \n            }\n            \n            return [null];\n            \n        }\n        \n        \n \n        \n       \n  \n        \n    \n    \n    \n    \n    \n    \n    \n    \n\n   \n","outputs":"1","noerr":0,"x":337,"y":219,"wires":[["a542dd4e.5bdd8"]]},{"id":"c7c36fc0.12e0c","type":"debug","z":"d0e2c7fb.20c238","name":"","active":true,"console":"false","complete":"false","x":341,"y":269,"wires":[]},{"id":"a542dd4e.5bdd8","type":"mqtt out","z":"d0e2c7fb.20c238","name":"","topic":"","qos":"","retain":"","broker":"455b0136.a975d","x":524,"y":219,"wires":[]},{"id":"2c6ca644.98ceba","type":"function","z":"d0e2c7fb.20c238","name":"fix decimals","func":"var newMsg = {payload: \"new payload\",topic: \"box1/RelayA\" };\nvar count = context.get('count')||0;\nvar result = Number((6.688689).toFixed(1)); // 6.7\n\nconsole.log(typeof result)\n/*\n    if(msg.payload==\"1\")\n    {\n    \n        count += 1;\n        count %=2;\n        context.set('count',count);\n        newMsg.payload=String(count);\n        return newMsg;\n        \n    }   \n    else\n    {\n     newMsg.payload=String(count);\n    return newMsg;\n    }   \n  */  \n    \n    \n    \n    \n    \n    \n\n   \n","outputs":1,"noerr":0,"x":323.2000427246094,"y":388.2000274658203,"wires":[[]]},{"id":"1a3be47c.d7a47c","type":"inject","z":"d0e2c7fb.20c238","name":"Bigbox RelayaA","topic":"bigbox/RelayA","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":1187.9445343017578,"y":37.96180725097656,"wires":[["1be1ba30.7d7146"]]},{"id":"38b05b4e.2ab8b4","type":"ui_switch","z":"d0e2c7fb.20c238","name":"","label":"Relay A","group":"64c0d758.875218","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"bigbox/RelayA","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1075.9481048583984,"y":810.4583740234375,"wires":[["1be1ba30.7d7146"]]},{"id":"318d2d3f.5f5ed2","type":"inject","z":"d0e2c7fb.20c238","name":"Poweron","topic":"bigbox/RelayA","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"x":865.9374847412109,"y":814.52783203125,"wires":[["38b05b4e.2ab8b4"]]},{"id":"4837f8bf.f68ee8","type":"inject","z":"d0e2c7fb.20c238","name":"Poweron","topic":"bigbox/RelayB","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"x":866.8958129882812,"y":889.4444580078125,"wires":[["64334a67.49a4d4"]]},{"id":"64334a67.49a4d4","type":"ui_switch","z":"d0e2c7fb.20c238","name":"","label":" Relay B","group":"64c0d758.875218","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"bigbox/RelayB","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1076.9064331054688,"y":885.375,"wires":[["1be1ba30.7d7146"]]},{"id":"f06fc62e.defe88","type":"ui_slider","z":"d0e2c7fb.20c238","name":"Dimmer","label":"Intensidad","group":"fc2d7319.fe667","order":0,"width":0,"height":0,"passthru":true,"topic":"Dimmer/IntensityA","min":0,"max":"1023","step":1,"x":1409.729248046875,"y":737.5868721008301,"wires":[["1be1ba30.7d7146"]]},{"id":"8c89d7d8.c2ca18","type":"inject","z":"d0e2c7fb.20c238","name":"Dimmer slow on","topic":"Dimmer/slowon","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":1427.947998046875,"y":686.7500801086426,"wires":[["1be1ba30.7d7146"]]},{"id":"ef54de8e.f34db","type":"inject","z":"d0e2c7fb.20c238","name":"Dimmer slow off","topic":"Dimmer/slowoff","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":1427.451416015625,"y":636.0000190734863,"wires":[["1be1ba30.7d7146"]]},{"id":"6888799a.4d6398","type":"comment","z":"d0e2c7fb.20c238","name":"Dimmer Stuff","info":"Iconos botones\nhttps://klarsys.github.io/angular-material-icons/","x":1518.5067749023438,"y":988.7117919921875,"wires":[]},{"id":"e537926a.f24a2","type":"ui_button","z":"d0e2c7fb.20c238","name":"slow off","group":"fc2d7319.fe667","order":0,"width":0,"height":0,"label":"Turn off","color":"","bgcolor":"","icon":"brightness_5","payload":"1","payloadType":"str","topic":"Dimmer/slowoff","x":1729.1736755371094,"y":638.9201507568359,"wires":[["1be1ba30.7d7146"]]},{"id":"caa310fa.670e7","type":"mqtt in","z":"d0e2c7fb.20c238","name":"Dimmer on finished","topic":"Dimmer/Slow_on_done","qos":"2","broker":"455b0136.a975d","x":1316.2849731445312,"y":837.357666015625,"wires":[["b49560cf.61681"]]},{"id":"b49560cf.61681","type":"change","z":"d0e2c7fb.20c238","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1023","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1538.2813110351562,"y":837.7778015136719,"wires":[["f06fc62e.defe88"]]},{"id":"bc3bb278.77337","type":"ui_button","z":"d0e2c7fb.20c238","name":"slow on","group":"fc2d7319.fe667","order":0,"width":0,"height":0,"label":"Turn  on","color":"","bgcolor":"","icon":"brightness_7","payload":"1","payloadType":"str","topic":"Dimmer/slowon","x":1725.451416015625,"y":720.7777709960938,"wires":[["1be1ba30.7d7146"]]},{"id":"89ae4467.8c4ab8","type":"mqtt in","z":"d0e2c7fb.20c238","name":"Dimmer on finished","topic":"Dimmer/Slow_off_done","qos":"2","broker":"455b0136.a975d","x":1296.78466796875,"y":905.2222290039062,"wires":[["9b3dc992.b5ff28"]]},{"id":"9b3dc992.b5ff28","type":"change","z":"d0e2c7fb.20c238","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1518.781005859375,"y":905.6423645019531,"wires":[["f06fc62e.defe88"]]},{"id":"aba84593.1c78a8","type":"mqtt in","z":"d0e2c7fb.20c238","name":"Pirbox Trigger status","topic":"pirbox/triggered","qos":"2","broker":"455b0136.a975d","x":1289.3334350585938,"y":1244.6668090820312,"wires":[["6780c2c5.5a6ddc","d35ec437.cd7768","b7eccce6.68a7e"]]},{"id":"951e1a66.405de8","type":"inject","z":"d0e2c7fb.20c238","name":"Pir alarm enable","topic":"pirbox/mqtt_enable","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":1284.1666870117188,"y":1138.3333740234375,"wires":[["1be1ba30.7d7146"]]},{"id":"210a1b1b.8f9f04","type":"inject","z":"d0e2c7fb.20c238","name":"Pir alarm disable","topic":"pirbox/mqtt_enable","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":1284.3333740234375,"y":1183.6668090820312,"wires":[["1be1ba30.7d7146"]]},{"id":"6780c2c5.5a6ddc","type":"debug","z":"d0e2c7fb.20c238","name":"","active":true,"console":"false","complete":"false","x":1588.048656069203,"y":1234.8021385110458,"wires":[]},{"id":"d9066ed4.abe4c","type":"ui_switch","z":"d0e2c7fb.20c238","name":"Enable MQTT messages","label":"switch","group":"829c5d7d.e25ab","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"pirbox/mqtt_enable","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1646.0521350731092,"y":1114.6806018499685,"wires":[["1be1ba30.7d7146"]]},{"id":"814d6cd0.52412","type":"inject","z":"d0e2c7fb.20c238","name":"Poweron","topic":"climate_box/ReadoutEnable","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"x":1176.8958129882812,"y":1061.6668090820312,"wires":[["d9066ed4.abe4c"]]},{"id":"d35ec437.cd7768","type":"ui_text","z":"d0e2c7fb.20c238","group":"829c5d7d.e25ab","order":0,"width":0,"height":0,"name":"alarm","label":"Alarm Status","format":" {{msg.payload}}","layout":"row-center","x":1719.5070676156038,"y":1327.3195079638638,"wires":[]},{"id":"239f818c.989e1e","type":"mqtt in","z":"d0e2c7fb.20c238","name":"Pirbox Trigger status","topic":"pirbox/released","qos":"2","broker":"455b0136.a975d","x":1296.451416015625,"y":1354.22216796875,"wires":[["d35ec437.cd7768"]]},{"id":"d6fa4ff.c19a6b","type":"inject","z":"d0e2c7fb.20c238","name":"","topic":"box1/rgbled","payload":"rgb(0,200,0)","payloadType":"str","repeat":"","crontab":"","once":false,"x":1711.3820317174184,"y":319.5243117956469,"wires":[["1be1ba30.7d7146"]]},{"id":"bde1093a.988808","type":"mqtt in","z":"d0e2c7fb.20c238","name":"phone","topic":"sensornode/livestream/LightIntensity/x","qos":"2","broker":"455b0136.a975d","x":545.9374847412109,"y":313.8055725097656,"wires":[["19904049.cf707"]]},{"id":"19904049.cf707","type":"ui_gauge","z":"d0e2c7fb.20c238","name":"phone","group":"d7f3c409.ec3f48","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730.9479522705078,"y":305.513916015625,"wires":[]}]
